@import "tailwindcss";
@tailwind utilities;

@layer components {
  .hover-underline-left {
    @apply relative inline-block no-underline;
  }

  .hover-underline-left::after {
    content: '';
    @apply absolute left-0 bottom-0 h-0.5 w-full bg-current;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .hover-underline-left:hover::after {
    transform: scaleX(1);
  }
}

@layer utilities {
  .bg-hero {
    background-image: url('/media/Wireframe.png');
  }
}

.cormorant-garamond-400 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-500 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-600 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}