@import "tailwindcss";
@tailwind utilities;


@theme {
  --color-header: #D9A4B3;
  --color-text: #4E4542;
  --color-primary-background: #F9E9EC;
  --color-secondary-background: #F6F1ED;
  --color-cta: #EEC9D2;
}

@layer components {
  .cenik-cena {
    @apply sm:ml-6 sm:min-w-24 min-w-16 text-center text-lg
  }
}

.button:before,
.button:after {
    width: 3em;
    height: 2.5em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color-cta);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 10%;
}

.button:after {
    bottom: -25%;
    right: 10%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

html {
  scroll-behavior: smooth;
}

.cormorant-garamond-400 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-500 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-600 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Ruzova od vrchu dolu
body {
  height:100vh;
  background: linear-gradient(180deg,#F9E9EC, #fff 50%);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
} */

